.score-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border:1px solid;
  .team-container{
    display: flex;
    width: 3rem;
    justify-content: space-around;
  }
  .score{
    display: flex;
    width: 2rem;
    justify-content: space-around;
  }
}
