<section *ngIf='boxScore' class='box-score-container'>

  <app-away-home-score-banner [boxScore]='boxScore'>

  </app-away-home-score-banner>

  <app-innings *ngIf='boxScore.innings' [innings]='boxScore.innings' [awayTeam]='boxScore.awayTeam' [homeTeam]='boxScore.homeTeam'>
  </app-innings>


  <app-current-batter *ngIf='boxScore.currentBatter' [batter]='boxScore.currentBatter'></app-current-batter>

  <app-team-toggle [homeTeamName]='boxScore.homeTeam' [awayTeamName]='boxScore.awayTeam'
    (selectedTeam)='teamListener($event)'></app-team-toggle>

  <app-lineup [lineup]='selectedLineup'></app-lineup>

</section>
<ng-container *ngIf='!boxScore'>
  Loading you fucking dunce cap.
</ng-container>
