<section class='lineup-header-container'>
  <section class='batter'>
    <p>Batter</p>
  </section>
  <section class='stat'>
    <p>AB</p>
  </section>
  <section class='stat'>
    <p>R</p>
  </section>
  <section class='stat'>
    <p>H</p>
  </section>
  <section class='stat'>
    <p>RBI</p>
  </section>
  <section class='stat'>
    <p>BB</p>
  </section>
  <section class='stat'>
    <p>SO</p>
  </section>
  <section class='stat'>
    <p>LOB</p>
  </section>
  <section class='stat'>
    <p>AVG</p>
  </section>
  <section class='stat'>
    <p>OPS</p>
  </section>
</section>
