.wsh {
  background: #AB0003;
  color: #14225A;
}


.kc {

  background: #004687;
  color: #BD9B60;

}

.pit {
  background: #27251F;
  color: #FDB827;
}


.mil {

  background: #0a2351;
  color: #B6922E;
}


.tor {
  background: #1D2D5C;
  color: #E8291C;
}

.bal {

  background: #000000;
  color: #DF4601;

}

.tb {

  background: #092C5C;
  color: #F5D130;

}

.nyy {

  background: #0C2340;
  color: #E4002C;

}

.det {

  background: #0C2340;
  color: #FA4616;

}

.bos {

  background: #BD3039;
  color: #0C2340;
}


.nym {

  background: #002D72;
  color: #FF5910;

}

.phi {

  background: #E81828;
  color: #002d72;

}

.atl {

  background: #13274F;
  color: #CE1141;

}

.mia {

  background: #000000;
  color: #00A3E0;
}

.hou {

  background: #EB6E1F;
  color: #002D62;

}

.laa {

  background: #003263;
  color: #BA0021;
}


.min {


  background: #002B5C;
  color: #B9975B;

}

.tex {

  background: #003278;
  color: #C0111F;

}

.ari {


  background: #A71930;
  color: #E3D4AD;

}

.col {

  background: #33006F;
  color: #C4CED4;

}

.sea {

  background: #0C2C56;
  color: #005C5C;

}

.oak {

  background: #003831;
  color: #EFB21E;

}

.lad {

  background: #A5ACAF;
  color: #005A9C;

}

.sd {

  background: #002d62;
  color: #A2AAAD;

}

.sf {

  background: #FD5A1E;
  color: #000000;

}

.stl {
  background: #C41E3A;
  color: #0C2340;
}

.cws {
  background: #27251F;
  color: #C4CED4;
}

.chc {
  background: #0E3386;
  color: #CC3433;
}

.cle {
  background: #0C2340;
  color: #E31937;
}

.nl {
  background: #D50032;
  color: #002D72;
}

.al{
  background: #002D72;
  color: #D50032;
}

