<section class='lineup-header-container'>
    <section class='batter'>
      <p>{{fullPlayer}}</p>
    </section>
    <section class='stat'>
      <p>{{player.atBats}}</p>
    </section>
    <section class='stat'>
      <p>{{player.runs}}</p>
    </section>
    <section class='stat'>
      <p>{{player.hits}}</p>
    </section>
    <section class='stat'>
      <p>{{player.runsBattedIn}}</p>
    </section>
    <section class='stat'>
      <p>{{player.baseOnBalls}}</p>
    </section>
    <section class='stat'>
      <p>{{player.strikeOuts}}</p>
    </section>
    <section class='stat'>
      <p>{{player.leftOnBase}}</p>
    </section>
    <section class='stat'>
      <p>{{player.battingAverage}}</p>
    </section>
    <section class='stat'>
      <p>{{player.onBasePlusSlugging}}</p>
    </section>
  </section>
