<section class='batter-stats-container'>
  <section class='batter-stats-row'>
    <section class='stat s baseline'>
      <p>Avg.</p>
    </section>
    <section class='stat s baseline'>
      <p>OBP.</p>
    </section>
    <section class='stat s baseline'>
      <p>SLG.</p>
    </section>
    <section class='stat s baseline'>
      <p>HR</p>
    </section>
    <section class='stat l baseline'>
      <p>Last PA.</p>
    </section>
  </section>

  <section class='batter-stats-row'>
    <section class='stat s'>
      <p>{{batterStats.avg}}</p>
    </section>
    <section class='stat s'>
      <p>{{batterStats.obp}}</p>
    </section>
    <section class='stat s'>
      <p>{{batterStats.slg}}</p>
    </section>
    <section class='stat s'>
      <p>{{batterStats.hr}}</p>
    </section>
    <section class='stat l'>
      <p>DIP SHIT FORGOT THE PLAT APPEARANCE.</p>
    </section>
  </section>

</section>
